.Toastify__toast-body {
    direction: rtl;
    font-family: yekan !important;
}

.Toastify__toast-container.Toastify__toast-container--bottom-right {
    max-width: 330px;
}

.Toastify__close-button.Toastify__close-button--dark {
    position: absolute;
    left: 5px;
    top: 5px;
}