.products-group {
    margin-bottom: 100px;
}

.product-group-item {
    padding-top: 10px;
}

.product-group-item-box {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #88888877;
    text-decoration: none;
    transition: 0.1s;
    border-radius: 7px;
}
.product-group-item-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 2px 1px rgba(163, 163, 163, 0.438);
}

.product-group-item-img {
    width: 124px;
    height: 124px;
}

.product-group-item-text {
    color: #383838;
    margin-top: 15px;
}